{
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": true,
    "semi": false,
    "trailingComma": "none",
    "endOfLine": "lf",
    "printWidth": 120,
    "arrowParens": "always",
    "proseWrap": "never",
    "plugins": ["prettier-plugin-svelte"],
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte"
            }
        }
    ]
}
